/* Позиция и размер кнопки бургер-меню */
.bm-burger-button {
    position: fixed;
    z-index: 10 !important;
    width: 26px;
    height: 20px;
    left: 36px;
    top: 36px;
    cursor: pointer;
  }
  
  /* Цвет и форма полосок конпки */
  .bm-burger-bars {
    background: rgb(31, 31, 30);
    
  }
  
  /* Позиция и размеры кнопки "закрыть меню" */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    right: 50px !important;
  }
  
  /* Цвет иконки кнопки "закрыть меню" */
  .bm-cross {
    background: rgb(255, 255, 255);
    
  }

  
  
  /* Основные стили меню */
  .bm-menu {
    z-index: 40 !important;
    background: rgba(24, 23, 23, 0.7);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 250px;
    a {
      color: rgb(173, 165, 165);
      padding-left: 27px;
      padding-top: 20px;
      text-decoration: none;
      &:hover, &:focus {
        color: rgb(255, 255, 255);
      }
    }
  }


  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Контейнер списка меню */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Стиль overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }